@charset "UTF-8";

.circle {
  background: transparent;
  border-radius: 100%;
}

.post {
    min-width: 320px;
    max-width: 1000px;
    margin: 40px auto;
    background: #fff;
    display: flex;
    height: 100vh;
    padding: 20px 20px;
}   

.container {
  width: 620px;
  margin: 10px 10% 0px 0;
  height: 620px;
  z-index: 9;
  display: flex;
}

.text {
    overflow-y: scroll;
    padding: 0 20px;
    width: 50%;
}


@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes rspin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

.c1 {
  margin-top: 40px;
  border: 8px dashed rgba(165, 222, 228, 0.5);
  width: 600px;
  height: 600px;
  -webkit-animation: spin 10s linear infinite;
}

.c2 {
  border: 8px solid rgba(165, 222, 228, 0.5);
  width: 540px;
  height: 540px;
  margin-top: 20px;
}

.c3 {
  border: 16px solid rgba(105, 176, 132, 0.5);
  width: 460px;
  height: 460px;
  margin-top: 24px;
}

.c4 {
  border: 4px solid rgba(165, 222, 228, 0.5);
  width: 413.1px;
  height: 413.1px;
  margin-top: 18.95px;
}

.c5 {
    border: 4px dashed rgba(0, 153, 204, 0.5);
    width: 371.79px;
    height: 371.79px;
    margin-top: 16.655px;
    -webkit-animation: rspin 6s linear infinite;
}

.c6 {
  border: 4px solid rgba(0, 92, 175, 0.8);
  width: 343px;
  height: 343px;
  margin-top: 10.8716px; }

.c7 {
  border: 4px solid rgba(0, 137, 167, 0.6);
  width: 334.0468px;
  height: 334.0468px;
  margin-top: 0; }

.c8 {
  border: 4px solid rgba(13, 86, 97, 0.2);
  width: 307.32306px;
  height: 307.32306px;
  margin-top: 9.36187px; }

.c9 {
  border: 8px solid rgba(0, 137, 167, 0.6);
  width: 290px;
  height: 290px;
  margin-top: 0; }

.c10 {
  border: 2px solid rgba(0, 153, 204, 0.5);
  width: 262.19075px;
  height: 262.19075px;
  margin-top: 12.56615px; }


.c11 {
  border: 4px dashed rgba(0, 153, 204, 0.3);
  width: 235.97168px;
  height: 235.97168px;
  margin-top: 9.10954px;
  -webkit-animation: spin 3s linear infinite; }

.c12 {
  border: 6px solid rgba(168, 216, 185, 0.4);
  width: 223.97168px;
  height: 223.97168px;
  margin-top: 0; }

.c13 {
  border: 4px dashed rgba(0, 92, 175, 0.8);
  width: 215.97168px;
  height: 215.97168px;
  margin-top: 0; }

.c14 {
  border: 6px solid rgba(69, 131, 159, 0.6);
  width: 187.97168px;
  height: 187.97168px;
  margin-top: 8px; }

.c15 {
  border: 6px solid rgba(180, 237, 246, 0.6);
  width: 175.97168px;
  height: 175.97168px;
  margin-top: 0; }

.c16 {
  border: 8px dotted rgba(51, 166, 184, 0.6);
  width: 167.97168px;
  height: 167.97168px;
  margin-top: -4px;
  margin-left: -4px;
  -webkit-animation: rspin 8s linear infinite; }

.c17 {
  border: 4px solid rgba(180, 237, 246, 0.6);
  width: 159.97168px;
  height: 159.97168px;
  margin-top: 0; }

.c18 {
  border: 4px solid rgba(110, 138, 142, 0.6);
  width: 143.97168px;
  height: 143.97168px;
  margin-top: 4px; }

.c19 {
  border: 6px dotted rgba(180, 237, 246, 0.6);
  width: 115.97168px;
  height: 115.97168px;
  margin-top: 8px;
  -webkit-animation: rspin 4s linear infinite; }

.c20 {
  border: 6px solid rgba(88, 178, 220, 0.8);
  width: 108px;
  height: 108px;
  margin-top: -3px;
  margin-left: -3px; }

.c21 {
  border: 12px solid rgba(0, 92, 175, 0.8);
  width: 85.97168px;
  height: 85.97168px;
  margin-top: 0; }

.c22 {
  border: 4px dotted rgba(0, 153, 204, 0.5);
  width: 77.97168px;
  height: 77.97168px;
  margin-top: 0;
  -webkit-animation: spin 4s linear infinite; }

.c23 {
  border: 10px solid rgba(180, 237, 246, 0.5);
  width: 59px;
  height: 59px;
  margin-top: 0; }

.c24 {
  border: 4px solid rgba(0, 98, 132, 0.5);
  width: 53.97168px;
  height: 53.97168px;
  margin-top: 0; }

.c25 {
  border: 4px dotted rgba(46, 169, 223, 0.8);
  width: 45.97168px;
  height: 45.97168px;
  margin-top: 0;
  -webkit-animation: rspin 4s linear infinite; }

.c26 {
  border: 10px dotted rgba(0, 98, 132, 0.5);
  width: 21.97168px;
  height: 21.97168px;
  background: rgba(15, 37, 64, 0.3);
  margin-top: 0; }
